.PokeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
  }

  @media (max-width: 500px) {
    .PokeForm {
      flex-direction: column;
    }
    div .RandomButton {
      padding: 15px 40px;
    }
    div .PokeButton {
      padding: 15px 43px;
    }
    .PokeForm .InputPoke {
      margin-bottom: 20px;
      width: 252px;
    }
  }
  
  .InputPoke {
    border-style: none;
    border-radius: 5px;
    padding: 10px 10px;
    width: 235px;
  }
  
  .InputPoke:focus {
    outline: 0
  }
  
  .PokeButton {
    border-style: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #ffcb05;
    color: #3269b2;
    font-weight: 700;
    cursor: pointer;
  }
  
  .RandomButton {
    border-style: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #3269b2;
    color: #ffcb05;
    font-weight: 700;
    cursor: pointer;
  }